# Git
.git
.gitignore

# IDE
.vscode
.idea

# Environment files
.env
.env.*

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Documentation
README.md
LICENSE

# Docker
Dockerfile
docker-compose.yaml
.dockerignore
